{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- index.html content starts here -->



<!-- Header -->
<header class="main-header">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-4 fw-bold text-white mb-2">Absolut Zero</h1>
                    <h2 class="fw-bold text-white mb-2"><em>- Indulge in Zero Limits with Absolut Zero!</em></h2>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start mt-5">
                        <a class="btn btn-primary btn-outline-light btn-lg px-4 me-sm-3" href="#features">Browse Products</a>
                        <a class="btn btn-primary btn-outline-light btn-lg px-4" href="#!">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="" alt="..."></div>
        </div>
    </div>
</header>

<!-- Features -->
<section class="features text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icon d-flex justify-content-center mb-3"><i class="fa-solid fa-boxes-stacked"></i></div>
                    <h3>Wide Selection</h3>
                    <p class="lead mb-0">Absolut Zero offers a diverse range of alcohol-free beverages, including beers, wines, spirits, and cocktails, catering to different tastes and preferences.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icon d-flex justify-content-center mb-3"><i class="fa-solid fa-book-open"></i></div>
                    <h3>Educational Resources</h3>
                    <p class="lead mb-0">Absolut Zero provides educational resources about alcohol-free living, including articles, guides, and tips on creating delicious mocktails and enjoying a balanced lifestyle without alcohol.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icon d-flex justify-content-center mb-3"><i class="fa-solid fa-truck-fast"></i></div>
                    <h3>Convenience and Delivery</h3>
                    <p class="lead mb-0">Absolut Zero ensures a seamless shopping experience with user-friendly navigation, secure online payments, and doorstep delivery services, making it convenient for customers to enjoy their favorite beverages hassle-free.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0 bg-light">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Fully Responsive Design</h2>
                <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>
        <div class="row g-0 bg-light">
            <div class="col-lg-6 text-white showcase-img"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Updated For Bootstrap 5</h2>
                <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 5 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 5!</p>
            </div>
        </div>
        <div class="row g-0 bg-light">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Easy to Use & Customize</h2>
                <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'images/placeholder-user.jpg' %}" alt="..." />
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'images/placeholder-user.jpg' %}" alt="..." />
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'images/placeholder-user.jpg' %}" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                </div>
            </div>
        </div>
    </div>
</section>
        



<!-- index.html content ends here -->
{% endblock %}