{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<!-- index.html content starts here -->

<!-- Header section -->
<header class="main-header py-lg-5 py-3">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center my-3 ms-xl-5 ms-3 me-0">
            <div class="col-lg-8 col-12 my-4 mb-lg-0 text-center order-lg-1 order-2">
                <img id="header-logo" class="object-fit-cover" src="{% static '/images/absolut-zero-logo.png' %}" alt="">
                <h2 class="fw-bold display-7 my-3">Indulge in Zero Limits with Absolut Zero!</h2>
                <div class="">
                    <a class="main-btn me-3 mb-3" href="{% url 'products' %}">Browse Products</a>
                    <a class="main-btn" href="#!">Sign Up</a>
                </div>
            </div>
            <div class="col-lg-4 col-12 order-lg-2 order-1">
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="4000">
                            <img src="{% static '/images/richard-juhlin.png' %}" class="d-block mx-auto carousel-img" alt="...">
                            <div class="carousel-caption position-static text-black p-0 m-0">
                                <h4 class="mt-2 mb-1">Richard Juhlin</h4>
                                <p class="m-0"><em>Non Alcoholic Blanc de Blancs</em></p>
                                <p class="m-0"><strong>750ml</strong><strong class="ms-4">89:-</strong></p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="{% static '/images/oppigårds-winter-ale.png' %}" class="d-block mx-auto carousel-img" alt="...">
                            <div class="carousel-caption position-static text-black p-0 m-0">
                                <h4 class="mt-2 mb-1">Oppigårds Winter Ale</h4>
                                <p class="m-0"><em>Alkoholfri</em></p>
                                <p class="m-0"><strong>330ml</strong><strong class="ms-4">18:90:-</strong></p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="{% static '/images/leitz-eins.png' %}" class="d-block mx-auto carousel-img" alt="...">
                            <div class="carousel-caption position-static text-black p-0 m-0">
                                <h4 class="mt-2 mb-1">Leitz Eins Zwei Zero</h4>
                                <p class="m-0"><em>Riesling Alcohol Free</em></p>
                                <p class="m-0"><strong>750ml</strong><strong class="ms-4">74:-</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Features section -->
<section class="features text-center">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icon d-flex justify-content-center mb-3"><i class="fa-solid fa-boxes-stacked"></i></div>
                    <h3>Wide Selection</h3>
                    <p class="lead mb-0">Absolut Zero offers a diverse range of alcohol-free beverages, including beers, wines, spirits, 
                        and cocktails, catering to different tastes and preferences.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icon d-flex justify-content-center mb-3"><i class="fa-solid fa-book-open"></i></div>
                    <h3>Educational Resources</h3>
                    <p class="lead mb-0">Absolut Zero provides educational resources about alcohol-free living, including articles, guides, 
                        and tips on creating delicious mocktails and enjoying a balanced lifestyle without alcohol.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icon d-flex justify-content-center mb-3"><i class="fa-solid fa-truck-fast"></i></div>
                    <h3>Convenience and Delivery</h3>
                    <p class="lead mb-0">Absolut Zero ensures a seamless shopping experience with user-friendly navigation, secure online 
                        payments, and doorstep delivery services, making it convenient for customers to enjoy their favorite beverages hassle-free.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Showcases section -->
<section class="showcase bg-light">
    <div class="container-fluid p-0">
        <div class="row g-0 showcase-item">
            <img class="col-lg-6 order-lg-2 object-fit-cover showcase-img" src="{% static '/images/top-brands.jpg' %}" alt="...">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h3 class="mx-4">Curation of Top Brands and Products</h3>
                <p class="lead mb-0 mx-4">We pride ourselves on sourcing the finest alcohol-free beverages from around the world. 
                    Our platform showcases a carefully curated collection of top brands and innovative products, ensuring that 
                    customers have access to the best non-alcoholic options available.</p>
            </div>
        </div>
        <div class="row g-0 showcase-item">
            <img class="col-lg-6 object-fit-cover showcase-img" src="{% static '/images/health-wellness.jpg' %}" alt="...">
            <div class="col-lg-6 my-auto showcase-text">
                <h3 class="mx-4">Commitment to Health and Wellness</h3>
                <p class="lead mb-0 mx-4">Absolut Zero is dedicated to promoting a healthier lifestyle by offering a curated selection of premium 
                    alcohol-free beverages. Through our platform, customers can discover delicious alternatives that allow them to enjoy the social 
                    aspect of drinking without the negative effects of alcohol.</p>
            </div>
        </div>
        <div class="row g-0 showcase-item">
            <img class="col-lg-6 order-lg-2 object-fit-cover showcase-img" src="{% static '/images/community-engagement.jpg' %}" alt="...">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h3 class="mx-4">Community Engagement</h3>
                <p class="lead mb-0 mx-4">Absolut Zero actively engages with its customers through social media platforms, newsletters, and events, 
                    fostering a vibrant community of like-minded individuals passionate about alcohol-free living and exploration of new tastes.</p>
            </div>
        </div>
    </div>
</section>

<!-- Customer reviews section -->
<section class="reviews text-center">
    <div class="container">
        <h3 class="mb-5">Customer reviews</h3>
        <div class="row">
            <div class="col-lg-4">
                <div class="reviews-item mx-auto mb-5 mb-lg-0">
                    <img class="object-fit-cover mb-3" src="{% static 'images/margaret-e.jpg' %}" alt="..." />
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">Absolut Zero made my alcohol-free journey so enjoyable! The variety of 
                        beverages is amazing, and the detailed descriptions helped me find new favorites easily.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="reviews-item mx-auto mb-5 mb-lg-0">
                    <img class="object-fit-cover mb-3" src="{% static 'images/fred-s.jpg' %}" alt="..." />
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">The convenience of ordering from Absolut Zero is unmatched. 
                        Quick delivery, secure payments, and top-notch customer service make it my go-to for alcohol-free drinks.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="reviews-item mx-auto mb-5 mb-lg-0">
                    <img class="object-fit-cover mb-3" src="{% static 'images/sarah-w.jpg' %}" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">As someone focused on wellness, Absolut Zero has been a game-changer. I 
                        love that I can explore different brands and flavors without compromising on taste or quality. Highly recommend!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- index.html content ends here -->
{% endblock %}