.drinks-img {
    background-image: url("../images/drinks.jpeg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: 0% 50%;
    
}

.beer-img {
    background-image: url("../images/beer.jpeg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

@media screen and (max-width: 1000px) {
    .drinks-img {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    
    .beer-img {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

#mc_embed_signup{
    background: var(--bs-light); 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
    width: 600px;
    border: 1px solid var(--blue);
    border-radius: 8px;
}

@media screen and (max-width: 640px) {
    #mc_embed_signup{
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    #mc_embed_signup{
        width: 275px;
    }
}