body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
}

#logo {
    width: 17rem;
}


.navbar .megamenu{ 
    padding: 1rem; 
}

.navbar .has-megamenu {
    position:static!important;
}

.navbar .megamenu {
    left:0; right:0; width:100%; margin-top:0;  
}


