/* Header section -------------------------------------------------- */
#header-logo {
    height: 4rem;
}

.carousel-img {
    width: auto;
    height: 25rem;
}

#productCarousel {
    height: 30rem;
}


/* Features section -------------------------------------------------- */
.features {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features .features-item {
    max-width: 25rem;
}

.features .features-item .features-icon {
    font-size: 6rem;
    color: var(--blue);
}


/* Showcase section -------------------------------------------------- */
.showcase .showcase-item {
    min-height: 30rem;
    max-height: 60rem;
}

.showcase .showcase-item .showcase-img {
    height: 30rem;
}

.showcase .showcase-item .showcase-text {
    padding-top: 7rem;
    padding-bottom: 7rem;
}


/* Customer reviews section -------------------------------------------------- */
.reviews {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.reviews .reviews-item {
    max-width: 20rem;
}

.reviews .reviews-item img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}