/* Shopping cart buttons -------------------------------------------------- */
.update-btn {
    /* CSS code snippet from https://copy-paste-css.com/ */
    display: inline-block;
    outline: 0;
    border: 2px solid var(--blue);
    cursor: pointer;
    will-change: box-shadow,transform;
    background: #f8f9fa;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(113, 122, 184, 0.5);
    padding: 3.5px 10px;
    border-radius: 6px;
    color: var(--blue);
    font-size: 22px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.2s ease,transform 0.2s ease;
    text-decoration: none;
}


.update-btn:hover{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #6671c7;
    transform: translateY(-2px);
}

.update-btn:active{
    box-shadow: inset 0px 3px 7px #bbbbbb;
    transform: translateY(1px);
}

.remove-btn {
    /* CSS code snippet from https://copy-paste-css.com/ */
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: var(--blue);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 5px 14px;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.2s ease,transform 0.2s ease;
    text-decoration: none;
}

.remove-btn:hover{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #04169e;
    transform: translateY(-2px);
}

.remove-btn:active{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(1px);
}

.cart-product-img {
    height: 180px;
    width: auto;
}