
    <div class="dropdown-menu megamenu" role="menu" data-bs-popper="none">
        <div class="container-xxl">
            <div class="row g-3">
                <div class="col-12 text-center">
                    <a href="{% url 'products_list' %}" class="fs-4 fw-bold">
                        <h3 class="my-2 h2">All Products</h3>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="col-megamenu">
                        <a href="{% url 'products_list' %}?category=beer" class="fs-4 fw-bold">
                            <h3 class="mb-0">Beer</h3>
                            <hr class="m-0 p-0 mb-2">
                        </a>
                        <ul class="list-unstyled fs-5">
                            <li><a href="{% url 'products_list' %}?subcategory=ale">Ale</a></li>
                            <li><a href="{% url 'products_list' %}?subcategory=light-lager">Light Lager</a></li>
                            <li><a href="{% url 'products_list' %}?subcategory=wheat-beer">Wheat Beer</a></li>
                            <li><a href="{% url 'products_list' %}?subcategory=dark-lager">Dark Lager</a></li>
                            <li><a href="{% url 'products_list' %}?subcategory=sour-beer">Sour Beer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="col-megamenu">
                        <a href="{% url 'products_list' %}?category=wine" class="fs-4 fw-bold">
                            <h3 class="mb-0">Wine</h3>
                            <hr class="m-0 p-0 mb-2">
                        </a>
                        
                        <ul class="list-unstyled fs-5">
                            <li><a href="{% url 'products_list' %}?subcategory=white">White</a></li>
                            <li><a href="{% url 'products_list' %}?subcategory=red">Red</a></li>
                            <li><a href="{% url 'products_list' %}?subcategory=rose">Rosé</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="col-megamenu">
                        <a href="{% url 'products_list' %}?category=cider-mixed-drinks" class="fs-5 fw-bold">
                            <h3 class="mb-1 fs-4">Cider & Mixed Drinks</h3>
                            <hr class="m-0 p-0 mb-2">
                        </a>
                        <ul class="list-unstyled fs-5">
                            <li><a href="{% url 'products_list' %}?subcategory=cocktails">Cocktails</a></li>
                            <li><a href="{% url 'products_list' %}?subcategory=cider">Cider</a></li>
                            <li><a href="{% url 'products_list' %}?subcategory=alcohol-free-mix">Alcohol-free Mix</a></li>
                        </ul>
                    </div>
                </div>    
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="col-megamenu">
                        <a href="{% url 'products_list' %}?category=sparkling-wine" class="fs-4 fw-bold">
                            <h3 class="mb-0">Sparkling Wine</h3>
                            <hr class="m-0 p-0 mb-2">
                        </a>
                        <ul class="list-unstyled fs-5">
                            <li><a href="{% url 'products_list' %}?subcategory=sparkling-white">Sparkling White</a></li>
                            <li><a href="{% url 'products_list' %}?subcategory=sparkling-rose">Sparkling Rosé</a></li>
                            <li><a href="{% url 'products_list' %}?subcategory=other">Other</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>