
    <div class="dropdown-menu megamenu bg-light" role="menu" data-bs-popper="none">
        <div class="container-xxl">
            <div class="row g-3">
                <div class="col-lg-3 col-6">
                    <div class="col-megamenu">
                        <a href="{% url 'products' %}?category=beer" class="fs-4 fw-bold">
                            Beer
                        </a>
                        <ul class="list-unstyled fs-5">
                            <li><a href="{% url 'products' %}?subcategory=ale">Ale</a></li>
                            <li><a href="{% url 'products' %}?subcategory=light-lager">Light Lager</a></li>
                            <li><a href="{% url 'products' %}?subcategory=wheat-beer">Wheat Beer</a></li>
                            <li><a href="{% url 'products' %}?subcategory=dark-lager">Dark Lager</a></li>
                            <li><a href="{% url 'products' %}?subcategory=sour-beer">Sour Beer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="col-megamenu">
                        <a href="" class="fs-4 fw-bold">
                            Wine
                        </a>
                        <ul class="list-unstyled fs-5">
                            <li><a href="#">White</a></li>
                            <li><a href="#">Red</a></li>
                            <li><a href="#">Rosé</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="col-megamenu">
                        <a href="" class="fs-4 fw-bold">
                        Cider & Mixed Drinks
                        </a>
                        <ul class="list-unstyled fs-5">
                            <li><a href="#">Cocktails</a></li>
                            <li><a href="#">Cider</a></li>
                            <li><a href="#">Alcohol-free Mix</a></li>
                        </ul>
                    </div>
                </div>    
                <div class="col-lg-3 col-6">
                    <div class="col-megamenu">
                        <a href="" class="fs-4 fw-bold">
                            Sparkling Wine
                        </a>
                        <ul class="list-unstyled fs-5">
                            <li><a href="#">Sparkling White</a></li>
                            <li><a href="#">Sparkling Rosé</a></li>
                            <li><a href="#">Other</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <a href="{% url 'products' %}" class="fs-4 fw-bold">
                    All Products 
                </a>
            </div>
        </div>
    </div>