{% extends "base.html" %}
{% load static %}
{% load shopping_cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/shopping_cart.css' %}">
{% endblock %}

{% block content %}
<!-- shopping_cart.html content starts here -->

<!-- Hero image section -->
<div class="hero-img py-5">
    <div class="container-xxl">
        <div class="d-flex">
            <img src="{% static 'images/absolut-zero-logo.png' %}" id="logo" 
                class="mx-auto my-0 my-sm-3 my-md-4" alt="Absolut Zero logo">
        </div>
    </div>
</div>

<section>
    <div class="container-xxl py-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="fw-bold mb-0 my-3 h1">Shopping Cart</h2>
                <hr>
            </div>
        </div>
        {% if  shopping_cart_items %}
        {% for item in shopping_cart_items %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12">
                <div class="card shadow-0 border rounded-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-4 col-md-3">
                                <div class="text-center">
                                    <img src="{{ item.product.image.url }}" 
                                        class="cart-product-img" alt="{{ item.product.name }}">
                                </div>
                            </div>
                            <div class="col-12 col-sm-8 col-md-9">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <h2 class="fw-bold mt-2 mt-sm-0">{{ item.product.name }}</h2>
                                        <div class="fs-6">
                                            <p class="mb-1"><span class="fw-bold">Volume:</span>
                                                 {{ item.product.volume }}ml</p>
                                            
                                            <p class="mb-1"><span class="fw-bold">Percentage:</span>
                                                 {{ item.product.percentage }}%</p>
                                            
                                            <p class="mb-1"><span class="fw-bold">SKU:</span>
                                                 {{ item.product.sku }} </p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-3 mt-md-1">
                                        <div class="row justify-content-center justify-content-sm-start justify-content-md-center">
                                            <div class="col-10 col-sm-6 col-md-12">
                                                <h4 class="mb-1 me-1 text-center text-sm-start text-md-center">
                                                    Total: {{ item.product.price|calc_subtotal:item.quantity }}:-
                                                </h4>
                                                <form class="form update-form" method="POST" 
                                                    action="{% url 'adjust_shopping_cart' item.item_id %}">
                                                {% csrf_token %}
                                                    <div class="form-group form">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <button class="decrement-qty form-btn left-form-btn" 
                                                                    data-item_id="{{ item.item_id }}" 
                                                                    id="decrement-qty_{{ item.item_id }}">
                                                                    <span class="icon">
                                                                        <i class="fas fa-minus"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                            <input class="form-control form-field qty_input" 
                                                                type="number" name="quantity" value="{{item.quantity}}" 
                                                                min="1" max="99" data-item_id="{{ item.item_id }}" 
                                                                id="id_qty_{{ item.item_id }}">
                                                            <div class="input-group-append">
                                                                <button class="increment-qty form-btn right-form-btn"
                                                                    data-item_id="{{ item.item_id }}" 
                                                                    id="increment-qty_{{ item.item_id }}">
                                                                    <span class="icon">
                                                                        <i class="fas fa-plus"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 text-center">
                                                        <button type="submit" class="update-btn me-2">
                                                            <i class="fa-solid fa-rotate"></i>
                                                        </button>
                                                        <a href="{% url 'remove_from_shopping_cart' item.item_id %}" 
                                                            class="remove-btn"><i class="fa-solid fa-trash-can"></i>
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        {% endfor %}
        <div class="row text-end">
            <div class="col-12 pe-md-5 pe-sm-4 pe-3">
                <h6 class="fs-5"><strong>Shopping cart Total: {{ total|floatformat:2 }}:-</strong></h6>
                <h6 class="fs-6">Delivery: {{ delivery|floatformat:2 }}:-</h6>
                <h6 class="mt-4 fs-4"><strong>Grand Total: {{ grand_total|floatformat:2 }}:-</strong></h6>
                {% if free_delivery_delta > 0 %}
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>{{ free_delivery_delta }}:-</strong> more!
                    </p>
                {% endif %}
                <a href="{% url 'checkout' %}" class="fs-6 main-btn mt-3">Checkout 
                    <i class="fa-solid fa-chevron-right ms-1"></i>
                </a>
            </div>  
        </div>
        {% else %}
        <div class="row ps-3">
            <div class="col">
                <h2>Your shopping cart is empty...</h2>
                <a href="{% url 'products_list' %}" class="second-btn fs-6 mt-2">
                    <span class="text-uppercase"><i class="fas fa-chevron-left me-2">
                    </i>Keep Shopping</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<!-- shopping_cart.html content ends here -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}