{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="container-xxl py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8 mx-auto">
                <div class="card">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">
                            <h1>Error 403: Method Not Allowed</h1>
                            <div>
                                <a class="main-btn px-3 py-1 mt-4" href="{% url 'home' %}">Go home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}