{% load static %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'products' as products_url %}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">


    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {% endblock %}

    {% block bootstrap %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}


    {% block extra_js %}
    {% endblock %}

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <script src="https://kit.fontawesome.com/6b05e2d640.js" crossorigin="anonymous"></script>

    <title>Absolut Zero {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-xxl px-xl-5 px-lg-4 px-3">
            <a href="{% url 'home' %}"><img id="logo" src="{% static 'images/absolut-zero-logo.png' %}" alt=""></a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto ms-3">
                    <li class="nav-item">
                        <a class="nav-link nav-text fs-5 fw-bold {% if request.path == home_url %}active" 
                            aria-current="page{% endif %}" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-text fs-5 fw-bold {% if request.path == about_url %}active" 
                            aria-current="page{% endif %}" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item dropdown has-megamenu">
                        <a class="nav-link nav-text dropdown-toggle show fs-5 fw-bold {% if request.path == products %}active" 
                            aria-current="page{% endif %}" href="#" data-bs-toggle="dropdown" aria-expanded="true">Beverages</a>
                        {% include "includes/megamenu.html" %}
                    </li>
                </ul>
                <form class="me-3" method="GET" action="{% url 'products' %}">
                    <div class="input-group search-bar w-100">
                        <input class="form-control search-field" type="text" name="q" placeholder="Search for a product...">
                        <div class="input-group-append">
                            <button class="form-control search-btn" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="d-flex">
                    <a href="{% url 'shopping_cart' %}" class="main-btn fs-6" type="submit">
                        <i class="fa-solid fa-cart-shopping me-1"></i>
                        <span class="text-white ms-1">
                            {% if grand_total %}
                                {{ grand_total|floatformat:2 }}kr
                            {% else %}
                                0.00kr
                            {% endif %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {% if messages %}
        <div class="message-container mb-3">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    <main>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->
    <section class="spikes mt-auto"></section>
    <footer class="text-center text-lg-start text-muted">

        <!-- Section: Social Media  -->
        <section class="d-flex justify-content-center justify-content-lg-between pt-4 pb-1 container-xxl text-white">
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <div class="">
                <a href="https://www.facebook.com/" class="me-4 text-reset text-decoration-none" target="_blank" rel=”noopener”>
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/" class="me-4 text-reset text-decoration-none" target="_blank" rel=”noopener”>
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.google.com/" class="me-4 text-reset text-decoration-none" target="_blank" rel=”noopener”>
                    <i class="fab fa-google"></i>
                </a>
                <a href="https://www.instagram.com/" class="me-4 text-reset text-decoration-none" target="_blank" rel=”noopener”>
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/" class="me-4 text-reset text-decoration-none" target="_blank" rel=”noopener”>
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.github.com/" class="me-4 text-reset text-decoration-none" target="_blank" rel=”noopener”>
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </section>
        <hr class="m-0 text-white">

        <!-- Section: Links  -->
        <section class="text-white ">
            <div class="container-xxl text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <a href="{% url 'home' %}"><img src="{% static 'images/absolut-zero-logo.png' %}" class="mb-2" alt="Absolut Zero logo" width="70%"></a>
                        <p>
                            Welcome to Absolute Zero, your ultimate destination for exquisite alcohol-free 
                            beverages! At Absolute Zero, we believe that enjoyment shouldn't compromise your 
                            lifestyle choices.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#" class="text-reset">Beer</a>
                        </p>
                        <p>
                            <a href="#" class="text-reset">Cider</a>
                        </p>
                        <p>
                            <a href="#" class="text-reset">Wine</a>
                        </p>
                        <p>
                            <a href="#" class="text-reset">Sparkling Wine</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Profile</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">FAQ</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Privacy</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">About Us</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact Information
                        </h6>
                        <p>
                            <i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i> info@absolut_zero.com
                        </p>
                        <p>
                            <i class="fas fa-phone me-3"></i> + 01 234 567 88
                        </p>
                        <p>
                            <i class="fas fa-print me-3"></i> + 01 234 567 89
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.toast').toast('show');
        });
    </script>
    {% endblock %}

</body>

</html>