{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<!-- about.html content starts here -->

<!-- Header section -->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">
        <img class="img-fluid mb-4" src="{% static 'images/absolut-zero-logo.png' %}" width="700px" alt="...">
    </div>
</header>

<section class="py-5">
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Our Mission</h2>
                <p class="mb-0">At Absolut Zero, we believe in redefining the drinking experience by offering a curated 
                    selection of top-quality alcohol-free beverages. Our mission is to promote a balanced and healthy 
                    lifestyle without compromising on taste or enjoyment. We are dedicated to providing our customers 
                    with a diverse range of alternatives that cater to their preferences while contributing 
                    to their overall well-being.</p>
            </div>
        </div>
    </div>
</section>

<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>

<section class="py-5">
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Our Commitment to Quality</h2>
                <p class="mb-0">We understand the importance of quality when it comes to your beverages. 
                    That's why we partner with leading brands and suppliers known for their commitment 
                    to excellence. Each product in our collection undergoes rigorous testing and 
                    evaluation to ensure it meets our high standards of taste, ingredients, and 
                    overall satisfaction.</p>
            </div>
        </div>
    </div>
</section>

<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>

<section class="py-5">
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Explore, Discover, Indulge</h2>
                <p class="mb-0">Absolut Zero is not just a store; it's a journey of exploration and 
                    discovery. Whether you're looking for refreshing non-alcoholic beers, 
                    sophisticated alcohol-free wines, or innovative zero-proof spirits and cocktails, 
                    we have something for every palate. Our user-friendly platform makes it easy to 
                    browse, learn, and indulge in a world of alcohol-free options.</p>
            </div>
        </div>
    </div>
</section>

<!-- about.html content ends here -->
{% endblock %}