{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<!-- about.html content starts here -->

<!-- Hero image section -->
<section class="hero-img py-5">
    <div class="container-xxl">
        <div class="d-flex">
            <img src="{% static 'images/absolut-zero-logo.png' %}" id="logo" 
                class="mx-auto my-0 my-sm-3 my-md-4" alt="Absolut Zero logo">
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container-xxl my-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2>Our Mission</h2>
                <p class="mb-0 fs-5">At Absolut Zero, we're driven by a mission 
                    to revolutionize how people perceive and enjoy beverages. 
                    It's not just about offering a selection; it's about curating 
                    a transformative experience that aligns with a balanced and 
                    healthy lifestyle. We firmly believe that indulgence shouldn't 
                    come at the cost of compromise. That's why we're committed to 
                    sourcing only the finest alcohol-free beverages, ensuring that 
                    each sip is a celebration of taste, wellness, and enjoyment. 
                    Our dedication lies in providing our customers with a diverse 
                    range of alternatives that not only cater to their preferences 
                    but also contribute to their overall well-being, empowering them 
                    to embrace a lifestyle that's as fulfilling as it is flavorful.</p>
            </div>
        </div>
    </div>
</section>

<section class="beer-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container-xxl my-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2>Our Commitment to Quality</h2>
                <p class="mb-0 fs-5">Quality is the cornerstone of everything we do at 
                    Absolut Zero. We recognize that your beverage choices reflect 
                    your discerning taste and desire for excellence, which is why 
                    we leave no stone unturned in our pursuit of perfection. 
                    Partnering with industry-leading brands and suppliers renowned 
                    for their unwavering commitment to quality, we ensure that 
                    every product in our collection upholds our lofty standards. 
                    From rigorous testing to meticulous evaluation, each beverage 
                    undergoes a stringent process to guarantee that it not only 
                    meets but exceeds expectations in terms of taste, ingredients, 
                    and overall satisfaction. With Absolut Zero, you can trust 
                    that every sip is a testament to our unwavering dedication 
                    to excellence. </p>
            </div>
        </div>
    </div>
</section>

<section class="drinks-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container-xxl my-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2>Explore, Discover, Indulge</h2>
                <p class="mb-0 fs-5">Absolut Zero isn't just a destination; it's an 
                    invitation to embark on an extraordinary journey of 
                    exploration and discovery. Whether you're a seasoned connoisseur 
                    or a curious novice, our platform beckons you to immerse 
                    yourself in a world of tantalizing alcohol-free alternatives. 
                    From the refreshing zest of non-alcoholic beers to the 
                    sophisticated allure of alcohol-free wines and the innovative 
                    charm of zero-proof spirits and cocktails, we have something 
                    to tantalize every palate. Our user-friendly platform makes 
                    it effortless to browse, learn, and indulge in a diverse array 
                    of options, ensuring that your journey with Absolut Zero is 
                    as seamless as it is satisfying. So why wait? Come join us 
                    and elevate your drinking experience to new heights of 
                    flavor and delight.</p>
            </div>
        </div>
    </div>
</section>

<!-- about.html content ends here -->
{% endblock %}