{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<!-- product_details.html content starts here -->

<header class="main-header py-5">
    <div class="container-xxl px-4 px-lg-5 my-5">
        <div class="d-flex">
            <img src="{% static 'images/absolut-zero-logo.png' %}"  class="mx-auto" alt="" width="80%">
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container-xxl px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"> <img class="card-img-top object-fit-scale mb-5 mb-md-0" 
                src="{% static 'images/oppigårds-winter-ale.png' %}" height="400px" alt="..."> </div>
            <div class="col-md-6">
                <h2 class="display-5 fw-bold">{{ product.name }}</h2>
                <h3 class="display-7">{{ product.subname }}</h3>
                <div class="fs-5 mb-4">
                    <span class="me-2">{{ product.price }}:-</span>
                    <span class="me-2">{{ product.volume }}ml</span>
                    <span class="">{{ product.percentage }}%</span>
                </div>
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
                <div class="small mt-3"><strong>SKU:</strong> {{ product.sku }}</div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
    </div>
</section>

<!-- product_details.html content ends here -->
{% endblock %}