{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<!-- product_details.html content starts here -->

<header class="main-header py-5">
    <div class="container-xxl px-4 px-lg-5 my-5">
        <div class="d-flex">
            <img src="{% static 'images/absolut-zero-logo.png' %}"  class="mx-auto" 
                alt="Absolut Zero logo" width="80%">
        </div>
    </div>
</header>

<section class="pt-md-5 pt-3">
    <div class="container-xxl px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 mb-md-0 mb-4"> 
                <img class="card-img-top object-fit-scale" 
                src="https://product-cdn.systembolaget.se/productimages/1036900/1036900_400.png?q=75&w=2000" height="400px" alt="{{ product.name }}">
            </div>
            <div class="col-md-6">
                <h2 class="h1 fw-bold">{{ product.name }}</h2>
                <p class="lead mb-2">{{ product.description }}</p>
                <div class="fs-6 mt-3 d-flex justify-content-start">
                    <p class="">{{ product.volume }}ml</p>
                    <p class="px-2 fw-bold">·</p>
                    <p class="">{{ product.percentage }}%</p>
                    <p class="px-2 fw-bold">·</p>
                    <p class="">SKU: {{ product.sku }} </p>
                </div>
                <div class="fw-bold fs-4">{{ product.price }}:-</div>
                <div class="d-flex">
                    <form class="form" action="{% url 'add_to_shopping_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row mt-4">
                            <div class="col-12">
                                <div class="form-group form w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty form-btn left-form-btn" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-field qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty form-btn right-form-btn"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-5">
                                <input type="submit" class="main-btn fs-6 text-uppercase" value="Add to Bag">
                                <a href="{% url 'products' %}" class="main-btn fs-6 ms-3">
                                    <span class="text-uppercase"><i class="fas fa-chevron-left me-2"></i>Keep Shopping</span>
                                </a>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- product_details.html content ends here -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}