{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<!-- products.html content starts here -->

<!-- Hero image section -->
<section class="hero-img py-5">
    <div class="container-xxl">
        <div class="d-flex">
            <img src="{% static 'images/absolut-zero-logo.png' %}" id="logo" 
                class="mx-auto my-0 my-sm-3 my-md-4" alt="Absolut Zero logo">
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container-xxl px-2 px-md-4 px-lg-5">
        <div class="row">
            <div class="col-12 text-center">
                {% if current_categories or current_subcategories %}
                    {% for category in current_categories %}
                        <h2 class="fw-bold mb-0 mt-4 h1">{{ category.friendly_name }}</h2>
                    {% endfor %}
                    {% for subcategory in current_subcategories %}
                        <h2 class="fw-bold mb-0 mt-4 h1">{{ subcategory.friendly_name }}</h2>
                    {% endfor %}
                {% else %}
                    <h2 class="fw-bold mb-2 mt-4 h1">All Products</h2>
                {% endif %}
            </div>
            <div class="col-12 mb-3 fs-6 text-center text-sm-start">
                <select id="sort-selector" class="sort-btn shadow-sm">
                    <option class="pb-3" value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                        Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                        Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                        Price (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
                        Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                        Name (Z-A)</option>
                </select>
            </div>
            <hr>
        </div>
        <div class="row gx-3 gx-lg-5 justify-content-center">
            <!-- Product card -->
            {% for product in products %}
                <div class="col-12 col-md-6 mb-3 mb-md-4 mb-xl-5 product-card">
                    <a href="{% url 'product_details' product.slug %}">
                        <div class="card container-fluid h-100 p-0">
                            <div class="row mx-0">
                                <div class="col-4 d-flex justify-content-center">
                                    <img class="py-3" 
                                        src="{{ product.image.url }}" height="200" alt="{{ product.name }}">
                                </div>
                                <div class="col-8 d-flex flex-column p-0 pt-2">
                                    <div class="p-0">
                                        <h5 class="fw-bolder fs-3 mb-1 pe-2">{{ product.name }}</h5>
                                        <div class="fs-5 m-0">
                                            <span class="fw-bold">{{ product.category.friendly_name }}</span>
                                            <span class="px-1">-</span>
                                            <span>{{ product.subcategory.friendly_name }}</span>
                                        </div>
                                        <hr class="m-0 me-2">
                                    </div>
                                    <div class="text-rating fs-6 mt-2">
                                        {% include "includes/rating.html" %}
                                    </div>
                                    <div class="fs-6 mb-2 d-flex justify-content-start mt-auto fw-bold">
                                        <p class="">{{ product.volume }}ml</p>
                                        <p class="px-2 fw-bold">·</p>
                                        <p class="">{{ product.percentage }}%</p>
                                        <p class="px-2 fw-bold">·</p>
                                        {% if product.discount == True %}
                                            <p class="text-muted"><s>{{ product.old_price }}:-</s> 
                                                <span class="text-discount">{{ product.price }}:-</span></p>
                                        {% else %}
                                            <p class="">{{ product.price }}:-</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- products.html content ends here -->
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}