{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<!-- products.html content starts here -->

<header class="main-header py-5">
    <div class="container-xxl px-4 px-lg-5 my-5">
        <div class="d-flex">
            <img src="{% static 'images/absolut-zero-logo.png' %}"  class="mx-auto" alt="Absolut Zero logo" width="80%">
        </div>
    </div>
</header>

<section class="py-5 bg-light">
    <div class="container-xxl px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="text-center">
                {% for category in current_categories %}
                    <span class="fw-bold mb-0 mt-4 fs-1">{{ category.friendly_name }}</span>
                {% endfor %}
                {% for subcategory in current_subcategories %}
                    <span class="fw-bold mb-0 mt-4 fs-1">{{ subcategory.friendly_name }}</span>
                {% endfor %}
            </div>
            <div class="dropdown">
                <button class="btn btn-primary mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort <i class="fa-solid fa-sort"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">
                        Price Ascending <i class="fa-solid fa-arrow-up-long"></i><i class="fa-solid fa-coins"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">
                        Price Descending <i class="fa-solid fa-arrow-down-long"></i><i class="fa-solid fa-coins"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">
                        Rating Ascending <i class="fa-solid fa-arrow-up-long"></i><i class="fa-regular fa-star"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">
                        Rating Descending <i class="fa-solid fa-arrow-down-long"></i><i class="fa-regular fa-star"></i></a>
                    </li>
                </ul>
            </div>
            <hr>
            <!-- Product card -->
            {% for product in products %}
                <div class="col-12 col-md-6 col-xl-4 mb-5 product-card">
                    <div class="card container-fluid h-100 p-0">
                        <div class="row mx-0">
                            <div class="col-4 py-3 px-0">
                                <img class="card-img-top object-fit-scale" src="{{ product.image.url }}" 
                                    height="230" alt="{{ product.name }}">
                            </div>
                            <div class="col-8 d-flex flex-column p-0 pt-2">
                                <div class="p-0">
                                    <p class="fs-5 m-0">{{ product.category.friendly_name }}, 
                                        {{ product.subcategory.friendly_name }}</p>
                                    <h5 class="fw-bolder fs-3 mb-1">{{ product.name }}</h5>
                                    <h6 class="fs-4 mb-1">{{ product.subname }}</h6>
                                </div>
                                <div class="mt-auto mb-2">
                                    <span class="d-flex justify-content-between me-3">
                                        <em>{{ product.volume }}ml</em> 
                                        <em>{{ product.percentage }}%</em> 
                                        <strong>{{ product.price }}:-</strong>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <span class=""><a class="btn btn-sm btn-outline-dark me-2" 
                                        href="{% url 'product_information' product.slug %}">View Details</a></span>
                                    <span class=""><a class="btn btn-sm btn-outline-dark" 
                                        href="#">Add To Cart</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- products.html content ends here -->
{% endblock %}