{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<!-- product_details.html content starts here -->

<!-- Hero image section -->
<section class="hero-img py-5">
    <div class="container-xxl">
        <div class="d-flex">
            <img src="{% static 'images/absolut-zero-logo.png' %}" id="logo" class="mx-auto my-0 my-sm-3 my-md-4" alt="Absolut Zero logo">
        </div>
    </div>
</section>

<section class="pt-md-5 pt-3">
    <div class="container-xxl px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 mb-md-0 mb-4 justify-content-center d-flex"> 
                <img class="" 
                src="https://product-cdn.systembolaget.se/productimages/1036900/1036900_400.png?q=75&w=2000" height="400px" alt="{{ product.name }}">
            </div>
            <div class="col-md-6">
                <h2 class="h1 fw-bold">{{ product.name }}</h2>
                <p class="lead mb-2">{{ product.description }}</p>
                <div class="fs-6 fw-bold mt-3 d-flex justify-content-start">
                    <p class="mb-0">{{ product.volume }}ml</p>
                    <p class="px-2 fw-bolder mb-0">·</p>
                    <p class="mb-0">{{ product.percentage }}%</p>
                    <p class="px-2 fw-bolder mb-0">·</p>
                    <p class="mb-0">SKU: {{ product.sku }} </p>
                </div>
                <hr class="mt-1">
                <div class="text-rating fs-5">
                    {% include "includes/rating.html" %}
                </div>
                {% if request.user.is_authenticated %}
                    {% if user_rating %}
                    <form action="{% url 'remove_rating' product.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="second-btn fs-6 mt-2">Remove Rating</button>
                    </form>
                    {% else %}
                    <form id="" action="{% url 'product_details' product.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="rating_form" value="rating_form">
                        <p class="mb-0 mt-2">Rate Product</p>
                        <div class="d-flex align-items-center">
                            <select name="rating" class="form-control me-2 w-25">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button type="submit" class="main-btn fs-6">Submit Rating</button>
                        </div>
                    </form>
                    {% endif %}
                {% endif %}
                <hr>
                <h6 class="fw-bold fs-3 mb-0 mt-3">{{ product.price }}:-</h6>
                <div class="d-flex">
                    <form class="form" action="{% url 'add_to_shopping_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row mt-2 mt-md-3">
                            <div class="col-12">
                                <div class="form-group form w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty form-btn left-form-btn" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-field qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty form-btn right-form-btn"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3 mt-md-4">
                                <a href="{% url 'products_list' %}" class="second-btn fs-6 me-sm-3">
                                    <span class="text-uppercase"><i class="fas fa-chevron-left me-2"></i>Keep Shopping</span>
                                </a>
                                <input type="submit" class="main-btn fs-6 text-uppercase mt-sm-0 mt-2" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-12 col-md-9 mt-4 mt-md-0">
                <div class="row">
                    <div class="col-12 col-md-8 mb-4">
                        <div class="progress shadow" role="progressbar" aria-label="Sweetness" 
                            aria-valuenow="{{ product.sweetness }}0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-sweetness" style="width: {{ product.sweetness }}0%">Sweetness</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 mb-4">
                        <div class="progress shadow" role="progressbar" aria-label="Bitterness" 
                            aria-valuenow="{{ product.bitterness }}0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-bitterness" style="width: {{ product.bitterness }}0%">Bitterness</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="progress shadow" role="progressbar" aria-label="Body" 
                            aria-valuenow="{{ product.body }}0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-body" style="width: {{ product.body }}0%">Body</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mt-sm-5">
            <div class="col-12 col-lg-7">
                <h4 id="reviewHeading">Leave a Product Review</h4>
                <form id="reviewForm" method="post" action="{% url 'product_details' product.slug %}">
                    {% csrf_token %}
                    <input type="hidden" name="review_form" value="review_form">
                    <textarea type="text" id="content" name="content" rows="5" cols="200" class="form-control mb-3">{{ review.content | safe }}</textarea>
                    <button class="main-btn fs-6" type="submit" id="submitButton">Submit Review</button>
                </form>
            </div>
            <div class="col-12">
                <div class="row justify-content-start">
                    <h3 class="col-12 col-lg-7 mt-4 mb-3 p-0">Product Reviews</h3>
                    <hr>
                    {% for review in product_reviews %}
                    <div class="card review-border col-12 col-lg-7 mb-3 p-3 
                        {% if not review.approved and review.author == user %}not-approved
                        {% elif not review.approved %}d-none{% endif %}">
                        <div class="row mt-2">
                            <div class="col-4">
                                <h5 class="mb-1 h4">{{ review.author }}</h5>
                            </div>
                            <div class="col-8">
                                {% if not review.approved and review.author == user %}
                                <p class="float-end mb-1"> review is awaiting approval</p>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="mt-2" id="review{{ review.id }}">{{ review.content | linebreaks }}</div>
                        {% if user.is_authenticated and review.author == user %}
                        <div class="row mt-2">
                            <div class="col-5">
                                <button class="edit-btn me-2" review_id="{{ review.id }}">Edit</button>
                                <a class="delete-btn mt-2" href="{% url 'delete_product_review' product.slug review.id %}">Delete</a>
                            </div>
                            <div class="col-7">
                                <p class="text-muted fst-italic text-italic float-end m-0">
                                    Created on: {{ review.created_on }}
                                    <br>Last edited: {{ review.updated_on }}
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- product_details.html content ends here -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
    <script>
        const editButtons = document.getElementsByClassName("edit-btn");
        const reviewText = document.getElementById("content");
        const reviewForm = document.getElementById("reviewForm");
        const submitButton = document.getElementById("submitButton");
        const reviewHeading = document.getElementById("reviewHeading");

        for (let button of editButtons) {
            // Edits the targeted review
            button.addEventListener("click", (e) => {
                let reviewId = e.target.getAttribute("review_id");
                let reviewContent = document.getElementById(`review${reviewId}`).innerText;
                reviewText.value = reviewContent;
                submitButton.innerText = "Update";
                reviewHeading.innerText = "Edit your review";
                reviewForm.setAttribute("action", `edit_product_review/${reviewId}`);
            });
        }
    </script>
{% endblock %}